.footer-container {
    background-color: rgba(41, 63, 85, 0.4);
    color: #e6d15c;
    padding: 13px;
    height: 28vh;
    width: 96vw;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.redes-footer {
    display: flex;
    justify-content: center;
    padding: 6px;
    gap: 40px;
}

.title-footer {
    text-align: center;
    font-size: 28px;
}

.icon {
    width: 35px;
    height: 35px;
}

footer h4 {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}