<footer>
    <div class="footer-container">
        <h2 class="title-footer">
            Mis redes!
        </h2>
    <div class="redes-footer">
        <a href="https://web.facebook.com/profile.php?id=100091551973611&_rdc=1&_rdr"><img src="assets/images/facebook.png" alt="Facebook" class="icon"></a>
        <a href="https://www.threads.net/@daniel_diaz_ph?xmt=AQGz78C3HN58YZyGknEeC4Lc3I6NRFp6AeXz9r8r20Ihqns"><img src="assets/images/threads.ico" alt="threads" class="icon"></a>
        <a href="https://www.instagram.com/danieldiazfotos/"><img src="assets/images/instagram1.ico" alt="Instagram" class="icon"></a>
    </div>
    <h4>Derechos Reservados &copy;2024 | Daniel Diaz</h4>
</div>
</footer>
