.card-perfil {
    background-color: rgba(41, 63, 85, 0.5);
    color: #e6d15c;
    text-align: left;
    height: 50vh;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding: 10px;
    box-shadow: 0 0 35px #0009;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.about-img{
    position: relative;
    width: 200px;
    height: 200px;
}

.about-img img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.text-container-perfil {
    flex: 1;
}

.title-perfil {
    font-size: 36px;
    margin: 10px 0;
}

.subtitle-perfil {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}

.content-perfil {
    font-size: 18px;
    margin-top: 20px;
}

