<!--Home-->
<div class="title-container">
  <img class="card-img-home" src="assets/images/perfildani.jpg" alt="DanielDiaz">
  <div>
    <h1>Daniel Diaz</h1>
    <h2>FOTOGRAFO</h2>
  </div>
</div>

<!--Lista de Contacto-->
<app-contact></app-contact>

<div class="albums-container">
    <div 
      *ngFor="let album of albums" 
      class="album-card"
      (mouseover)="toggleHover(album, true)"
      (mouseleave)="toggleHover(album, false)"
      (click)="navigateToAlbum(album.link)"
      [ngClass]="{'hovered': album.isHovered}"
    >
      <img [src]="album.imageUrl" [alt]="album.title">
      <div class="album-title">{{ album.title }}</div>
    </div>
    <button class="view-all-albums" (click)="navigateToAllAlbums()">Ver más</button>
  </div>

<!--Acerca de Daniel Diaz-->
  <app-about></app-about>
  