@font-face {
    font-family: "Ephesis-Regular";
    src: url("./Ephesis-Regular.ttf") format(truetype);
}

.title-container {
    background-color: rgba(41, 63, 85, 0.5);
    height: 35vh;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 10px;
    margin-top: 15px;
    text-align: left;
}


.card-img-home {
    padding: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

h1 {
    color: #e6d15c;
    font-family: Ephesis-Regular;
    text-align: center;
    font-size: 60px;
    
}

h2 {
    color: #e6d15c;
    text-align: center;
    letter-spacing: 15px;
    font-size: 25px;
}

.albums-container {
    background-color: rgba(41, 63, 85, 0.5);
    display: flex;
    width: 97.3vw;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    border-radius: 10px;
}

.album-card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 50vw;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    margin: 30px;
    position: relative;
    transition: all 700ms ease-in;
}

.album-card .album-title {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.album-card:hover {
    width: 50vw;
}

.album-card:hover .album-title {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

.albums-container:hover .album-card:not(:hover) {
    width: 15vw;
}

.view-all-albums {
    width: 60px;
    height: 350px;
    background-color: #79a1da;
    color: #534f4f;
    margin: 20px;
    padding: 20px 30px;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.view-all-albums:hover {
    background-color: #e7ecf1;
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

@media (max-width: 480px) {
    .albums-container {
        width: 100vw;
    }

    .album-card {
        width: 100%;
        margin: 5px;
    }

    .album-card:hover {
        height: 60vh;
        width: 100%;
    }
}



