<!--Home-->
<div class="title-container">
  <img class="card-img-home" src="assets/images/perfildani.jpg" alt="DanielDiaz">
  <div>
    <h1>Daniel Diaz</h1>
    <h2>FOTOGRAFO</h2>
  </div>
</div>

<!--Lista de Contacto-->
<app-navbar></app-navbar>

<div class="albums-container">
    <div 
      *ngFor="let album of albums" 
      class="album-card"
      (mouseenter)="toggleHover(album, true)"
      (mouseleave)="toggleHover(album, false)"
      (click)="navigateToAlbum(album.link)"
      [style.backgroundImage]="'url(' + album.imageUrl + ')'"
    >
      <div class="album-title">{{ album.title }}</div>
    </div>
    <button class="view-all-albums" (click)="navigateToAllAlbums()">&#x25B6;</button>
  </div>

<!--Acerca de Daniel Diaz-->
  <app-about></app-about>
<!--Footer-->
  <app-footer></app-footer>
